# Python virtual environment
.venv/
venv/
ENV/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# VS Code settings
.vscode/

# Distribution / packaging
dist/
build/
*.egg-info/

# Local development settings
.env
.idea/

# Large data files
*.csv
*.tsv
*.xls
*.xlsx
*.db
*.sqlite
*.h5

# Logs
*.log

# System files
.DS_Store
Thumbs.db
